:root {
  --light-accent-color: #eee;
  --dark-accent-color: black;
  --inset-side: env(safe-area-inset-left, 0);
  --inset-top: env(safe-area-inset-top, 0);
  --inset-bottom: env(safe-area-inset-bottom, 0);
}

a {
  color: initial;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  color: black;
  transition: color 0.5s;
}

body {
  background-color: #ececec;
  transition: background 0.5s;
}

main {
  padding: 0 max(calc(20px + var(--inset-side)), calc(50vw - 480px))
    calc(20px + var(--inset-bottom))
    max(calc(20px + var(--inset-side)), calc(50vw - 480px));
}

.centered {
  text-align: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: -12px;
}

nav > a {
  margin: 3px 2px 3px 12px;
  transition: text-shadow 0.5s, color 0.5s !important;
}

.Title h1 {
  margin-right: 10px;
}

div.Title {
  align-items: baseline;
  background-color: #fff8;
  backdrop-filter: blur(20px);
  border-bottom: solid 1px #0003;
  flex-wrap: wrap-reverse;
  display: flex;
  padding: calc(0px + var(--inset-top))
    max(calc(20px + var(--inset-side)), calc(50vw - 480px)) 0
    max(calc(20px + var(--inset-side)), calc(50vw - 480px));
  position: sticky;
  top: 0;
  transition: background 0.5s, border 0.5s;
  z-index: 10;
}

h2.Subtitle {
  padding: 0 max(calc(20px + var(--inset-side)), calc(50vw - 480px));
  text-align: center;
}

.Title h1 > span,
h2.Subtitle > span,
nav > a:hover,
.AllLoaded {
  color: var(--dark-accent-color);
  transition: color 0.5s;
}

nav > a:hover {
  text-shadow: 0 0 0.5px var(--dark-accent-color);
}

.Stats {
  background-color: #e3e3e3;
  border-radius: 15px;
  padding: 15px 12px;
  transition: background 0.5s;
}

.Stats h4 {
  margin: 5px;
}

.NumberRow,
.PercentageRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.NumberRow > div {
  margin: 0 min(30px, 5%) 20px min(30px, 5%);
  text-align: center;
}

.NumberRow p,
.PercentageRow p {
  margin: 2px;
}

.NumberRow h4,
.PercentageRow h4 {
  font-size: 1.35rem;
  text-transform: uppercase;
}

.NumberRow > div > p {
  overflow-wrap: anywhere;
}

.NumberRow > div > p.Total {
  font-size: 3rem;
}

.NumberRow > div > p.Today {
  font-size: 2.25rem;
}

.PercentageRow > div {
  margin: 0 min(30px, 5%) 20px min(30px, 5%);
  text-align: center;
}

.PercentageRow > div > p {
  font-size: 2.5rem;
}

.UpdatedAt {
  text-align: center;
}

.Article {
  background-color: #e3e3e3;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
  transition: background 0.5s, filter 0.3s;
}

.Article:hover {
  filter: brightness(0.95);
}

.ArticleInfo {
  flex-basis: max(calc(70% - 10px), calc(100% - 310px));
  margin: 15px;
}

.ArticleInfo.no-image {
  flex-basis: 100%;
}

.ArticleImgContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  flex-basis: min(30%, 300px);
  margin: 15px;
  transition: filter 0.5s;
}

.ArticleImg {
  display: none;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: filter 0.5s;
}

.AllLoaded {
  margin: 30px 0;
}

.UpdatedAt,
nav > a,
.ArticleDate {
  color: #555;
  transition: color 0.5s;
}

body.Loaded .Loading {
  opacity: 0;
  visibility: hidden;
  transition: background 0.5s, opacity 0.5s 0.5s, visibility 0.5s 0.5s;
}

body.Loaded .Loading * {
  opacity: 0;
  visibility: hidden;
}

body.Loaded .Loading h3 {
  transition: opacity 0.5s, visibility 0.5s;
}

body.Loaded .LoadingRing {
  transition: background 0.5s, opacity 0.5s, visibility 0.5s;
}

body.Loaded .LoadingMask {
  transition: background 0.5s, opacity 0.5s 0.5s, visibility 0.5s 0.5s;
}

.Loading {
  align-content: center;
  align-items: center;
  background-color: #f3f3f3;
  flex-direction: column;
  display: flex;
  justify-content: center;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: background 0.5s, opacity 0.5s, visibility 0.5s;
  z-index: 30;
}

.Loading h3 {
  transition: opacity 0.5s 0.5s, visibility 0.5s 0.5s;
}

.LoadingRing {
  animation: spinning 1.5s infinite linear both;
  background: linear-gradient(
    180deg,
    #3338,
    #3338,
    #3337,
    #33333360,
    #3334,
    #33333328,
    #3331,
    #3330,
    #3330,
    #3330
  );
  margin: 0;
  padding: 4px;
  position: relative;
  transition: background 0.5s, opacity 0.5s 0.5s, visibility 0.5s 0.5s;
  z-index: 32;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.LoadingMask {
  background: #f3f3f3;
  transition: background 0.5s, opacity 0.5s, visibility 0.5s;
  z-index: 35;
}

.LoadingRing,
.LoadingMask {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 860px) {
  .Stats {
    padding: 12px;
  }

  h2.Subtitle {
    font-size: 1.4rem;
  }

  .NumberRow,
  .PercentageRow {
    margin: 12px 0;
  }

  .NumberRow h4,
  .PercentageRow h4 {
    font-size: 1.1rem;
  }

  .NumberRow > div {
    margin: 0 min(30px, 5%) 15px min(30px, 5%);
  }

  .NumberRow > div > p.Total {
    font-size: 2.5rem;
  }

  .NumberRow > div > p.Today {
    font-size: 1.8rem;
  }

  .PercentageRow > div {
    margin: 0 min(30px, 5%) 10px min(30px, 5%);
  }

  .PercentageRow > div > p {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 640px) {
  .Stats {
    padding: 8px 12px;
  }

  .NumberRow {
    margin: 12px 0 0 0;
  }

  .PercentageRow {
    margin: 0 0 10px 0;
  }

  .NumberRow > div > p.Total {
    font-size: 2.25rem;
  }

  .NumberRow > div > p.Today {
    font-size: 1.65rem;
  }

  .PercentageRow > div {
    margin: 0 min(30px, 5%) 8px min(30px, 5%);
  }

  .PercentageRow > div > p {
    font-size: 1.85rem;
  }

  .Article {
    flex-direction: column-reverse;
    overflow: hidden;
  }

  .ArticleInfo {
    margin: 0 15px 5px 15px;
  }

  .ArticleImg {
    display: initial;
    min-height: 160px;
    max-height: 320px;
  }

  .ArticleImgContainer {
    display: none;
  }

  .Loading h3 {
    font-size: 1.08rem;
  }

  .LoadingRing,
  .LoadingMask {
    width: 46px;
    height: 46px;
  }
}

@media only screen and (max-width: 480px) {
  .Stats {
    padding: 5px 12px;
  }

  h2.Subtitle {
    font-size: 1.35rem;
  }

  .NumberRow {
    margin: 10px 0 0 0;
  }

  .PercentageRow {
    margin: 0 0 8px 0;
  }

  .NumberRow > div > p.Total {
    font-size: 2.1rem;
  }

  .NumberRow > div > p.Today {
    font-size: 1.55rem;
  }

  .PercentageRow > div > p {
    font-size: 1.8rem;
  }

  .Loading h3 {
    font-size: 1rem;
  }

  .LoadingRing,
  .LoadingMask {
    width: 42px;
    height: 42px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1c;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: #eee;
  }

  .Title h1 > span,
  h2.Subtitle > span,
  nav > a:hover,
  .AllLoaded {
    color: var(--light-accent-color);
  }

  div.Title {
    background-color: #0009;
    border-bottom: solid 1px #ffffff3c;
  }

  nav > a:hover {
    text-shadow: 0 0 0.5px var(--light-accent-color);
  }

  .Stats {
    background-color: #333;
  }

  .Article {
    background-color: #333;
  }

  .Article:hover {
    filter: brightness(1.15);
  }

  .ArticleImgContainer,
  .ArticleImg {
    filter: brightness(0.85) saturate(0.9);
  }

  .UpdatedAt,
  nav > a,
  .ArticleDate {
    color: #ccc;
  }

  .Loading {
    background: #111;
  }

  .LoadingRing {
    background: linear-gradient(
      180deg,
      #e3e3e388,
      #e3e3e388,
      #e3e3e377,
      #e3e3e360,
      #e3e3e344,
      #e3e3e328,
      #e3e3e311,
      #e3e3e300,
      #e3e3e300,
      #e3e3e300
    );
  }

  .LoadingMask {
    background: #111;
  }
}
